page-post {

  ion-header {
    ion-toolbar {
      border-bottom: 0.5px solid color($colors, grey2) !important;
    }
  }
  #itinerary-container {
    border-bottom: 0.5px solid color($colors, grey2);
    height: 111px;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 12px;
    padding-bottom: 24px;

    #arrow {
      float: left;
      width: 24px;
      height: 100% !important;
    }

    #pickup {
      padding-left: 8px;
      padding-right: 8px;
      float: left;
      width: calc(50% - 12px);
    }
    #destination{
      padding-left: 8px;
      padding-right: 8px;
      float: right;
      width: calc(50% - 12px);
    }

    .location {
      text-overflow: ellipsis;
      overflow:hidden;
      white-space:nowrap;
      width: 100%;
    }
  }

  #itinerary-container>div>.Header3 {
    margin-bottom: 8px;
  }
  #itinerary-container>div>.caption {
    margin-bottom: 6px;
  }

  #detailedPost-container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;

    .profilePic {
      float: left;
    }
    #details {
      width: calc(100% - 48px);
      padding-left: 16px;
      margin-left: 48px;

      .body {
        margin-bottom: 4px;
      }

      .body.bold {
          margin-top: 16px;
      }
    }
  }

  #map-container {
    width: 100%;
    height: calc(100vw*3/4);;
    background-color: color($colors, grey2);
  }
  ion-footer {
    // height: 76px !important;
    ion-toolbar {
      position: absolute;
      bottom: 0px;
      height: 76px;
      .toolbar-background {
        visibility: hidden;
        // background: color($colors, light);
      }
    }
  }
  .scroll-content {
    // margin-bottom: 127px !important;
  }
}
