// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";
ion-toolbar.light>.toolbar-background, ion-navbar.light>.toolbar-background {
  background-color: #fff;
}

// ====================================================Overwrites==================================================//
ion-datetime {
  padding: 0px !important;
}

.picker-opt {
    color: color($colors,dark) !important;
}

.picker-md .picker-opt.picker-opt-selected {
  color: color($colors,primary) !important;
}
// ====================================================Headers and Footers==================================================//
.tabbar {
  border-top: 1px solid #EFEFEF !important;
  background-color: #fff !important;
}
.tabs-ios .tab-button.icon-only {
  min-height: 51px;
}
.tab-button.icon-only {
  min-height: 51px;
}
.picker-toolbar {
  border: none !important;
}
ion-toolbar {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

// =====================================================Typrography=================================================//

.Header3.dark {
  font-family: Lato-Bold;
  font-size: 18px;
  color: color($colors, dark);
  letter-spacing: 0px;
  line-height: 22px;
}

.Header.dark {
  font-family: Lato-Bold;
  font-size: 24px;
  color: color($colors, dark);
  letter-spacing: 0px;
}

.caption.dark {
  font-family: Lato-Regular;
  font-size: 14px;
  color: color($colors, grey1);
  letter-spacing: 0px;
  line-height: 17px;
}

.caption.light {
  opacity: 0.72;
  font-family: Lato-Regular;
  font-size: 14px;
  color: color($colors, light);
  letter-spacing: 0px;
  line-height: 16px;
}

.placeholder.dark {
  font-family: Lato-Regular !important;
  font-size: 16px !important;
  color: color($colors, grey1) !important;
  letter-spacing: 0px !important;
}
.left {
  text-align: left !important;
}
.centre {
  text-align: center;
}
.hidden {
  display: none;
}
.transparent {
  opacity: 0.0;
}

// ==================================================Buttons====================================================//
.alert-ios .alert-button {
  border-radius: 0px !important;
}
button {
  text-transform: uppercase !important;
  font-family: Lato-Bold !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  letter-spacing: 0px !important;
  border-radius: 4px !important;
}
button.FAB {
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.24) !important;
}

button.FAB.activated {
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.24) !important;
}

button.facebook {
  background-image: url('../assets/icons/facebook_light.svg') !important;
  background-repeat: no-repeat;
  background-position: 16px bottom;
}
button.icon {
  width: 36px !important;
  height: 36px !important;
}

button.cell {
  color: color($colors, dark) !important;
}
button.back.light {
  width: 36px;
  height: 36px;
  background-image: url('../assets/icons/icon_chevronleft_light.svg') !important;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0px;
  padding: 0px;
}

button[color="frost"].activated {
  background-color: #93C5C9;
}

// ==================================================Sizing and Positining====================================================//
.medWidth {
  width: 291px;
}

.fullWidth {
  width: auto;
  margin-left: auto ;
  margin-right: auto ;
  left: 8px;
  right: 8px;
}

.centreUI {
  margin: auto;
  display: block;
}
.rightUI {
  position: fixed;
  right: 0px;
}

.bottomUI {
  position: fixed;
  bottom: 24px;
}

.absolute {
  position: absolute;
}

// ==================================================Iconography====================================================//
// ***********************************************Tabs*************************************************//
.tab-button-icon {
  width: 32px !important;
  height: 32px !important;
  padding: 4px 4px 2px !important;
}

.ion-md-icon_search, .ion-ios-icon_search-outline {
  content: url('../assets/icons/tabs/icon_search_grey_36.svg');
}
.tab-button[aria-selected=true]>.ion-md-icon_search, .ion-ios-icon_search {
  content: url('../assets/icons/tabs/icon_search_dark_36.svg') !important;
}

.ion-md-icon_message, .ion-ios-icon_message-outline {
  content: url('../assets/icons/tabs/icon_message_grey_36.svg');
}
.tab-button[aria-selected=true]>.ion-md-icon_message, .ion-ios-icon_message {
  content: url('../assets/icons/tabs/icon_message_dark_36.svg') !important;
}

.ion-md-icon_cog, .ion-ios-icon_cog-outline {
  content: url('../assets/icons/tabs/icon_cog_grey_36.svg');
}
.tab-button[aria-selected=true]>.ion-md-icon_cog, .ion-ios-icon_cog {
  content: url('../assets/icons/tabs/icon_cog_dark_36.svg') !important;
}

// ***********************************************General*************************************************//
.icon.sq24 {
  width: 24px;
  height: 24px;
}
.icon.sq36 {
  width: 36px;
  height: 36px;
}
.icon.icon_cross {
  background-image: url('../assets/icons/icon_cross_dark.svg') !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

// ==================================================Cells====================================================//
.cell {
  background: #ffffff;
  border-radius: 0px !important;
  padding: 0px;
}
.cell>.item-inner {
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.cell.border>.item-inner {
  border-bottom: 0.5px solid color($colors, grey2) !important;
}
.cell.no-arrow>.item-inner {
  background-image: none !important;
}
.cell.tall>.item-inner {
  padding-top: 24px !important;
  padding-bottom: 23px !important;
}
.cell.inset64{
  padding-left: 64px !important;
}
.cell.inset64>.item-inner{
  min-height: 0px;
}
.cell.inset64>.item-inner{
  min-height: 0px;
}
.cell>.item-inner>.input-wrapper>ion-input>.text-input{
  margin: 0px !important;
}

ion-label{
  margin: 0px !important;
}


ion-backdrop {
  background: rgb(0,8,18) !important;
  // opacity: 0.36 !important;
  // transition-property: all 0.3s !important;
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
