page-intro {
  ion-slide {
    position: relative;
    bottom: 24px;
  }
  .swiper-pagination-bullet {
    background: color($colors,dark);
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: color($colors,dark);
    opacity: 0.48;
  }

  .Header {
    margin-bottom: 8px;
  }

  .caption {
    line-height: 20px !important;
  }

  img {
    margin-bottom: 6px;
  }

  ion-col>.caption {
    margin-bottom: 0;
    height: 60px;
  }
  ion-row {
    max-width: 301px;
  }
  button.facebook {
    margin-bottom: 16px;
  }

  #action{
    position: absolute;
    // bottom: 0px;
  }
  #action>.caption {
    margin-bottom: 0px;
  }
  #action>.caption>a {
    margin-left: 5px;
  }
}
